nav {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: center;
  height: fit-content;
  padding: 0px;
  color: #333;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25%;
  z-index: 1;
  user-select: none;
}

nav ul, nav li {
  display: flex;
  flex-direction:column;
  list-style: none;
  margin: 0 10px;
}

nav button {
  background-color: #5e69cd;
  width: 5vw;
  height: 4vh;
}

@media (orientation: portrait) {
  nav {
    background-color: #333;
    padding: 10px;
    left: 0;
    top: 0;
    width: 100%;
  }
  nav ul, nav li {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 10px;
  }
}

@media (max-width: 975px) {
  nav {
    width: 100%;
    position: fixed;
    height: 45px;
  }
  nav button {
    line-break: auto;
    width: 25vw;
    height: auto;
  }
}

@media (orientation: landscape) {
  nav ul {
    margin-left: -1.3em;
  }
}
